@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>
    <li><a href="~/Privacy?param1=2&param2=3">Privacy param1=2 param2=3</a></li>
    <li><a href="~/Privacy?param1=20&param2=30">Privacy param1=20 param2=30</a></li>
</ul>